.profile__edit-button {
  width: 24px;
  height: 24px;

  background-color: #000000;
  background-image: url(../../../images/Edit-Button.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;

  border: 1px solid #FFFFFF;
}